<div class="col-xs-6 col-md-3">
	<% myModal = 'myModal' + $increment.to_s %>
	<a href="#" class="thumbnail" data-toggle="modal" data-target="#<%= myModal %>">
		<p><img src="<%= movie['medium_cover_image'] %>" class="img-thumbnail"></p>
	</a>
<strong>BELONGS TO PAGE :</strong> <%= @current_page.to_s %>
	<% if movie['view'] %>
		<div style="color: green;">Déjà vu</div>
	<% end %>
	<% if movie['torrents'] && movie['torrents'][1] %>
		<% torrents = movie['torrents'][1] %>
		<% if movie['title'] && movie['year'] && movie['rating'] && torrents['seeds'] && torrents['peers'] %>
			<p><%= movie['title'] + ' (' + movie['year'].to_s + ')' + 'Note : ' + movie['rating'].to_s %></p>
		<% end %>
	<% else %>
		<p><%= movie['title'] + ' (' + movie['year'].to_s + ')' + 'Note : ' + movie['rating'].to_s %></p>
	<% end %>
	<% if movie['languages'] %>
		<%= form_tag("/movie/new", method: "post") do %>
			<% languages = []
				movie['languages'].each_with_index do |l, i|
					languages.push([l[:language], l[:magnet_link]])
				end %>
			<%= hidden_field_tag 'imdb', movie['imdb'] %>
			<%= select_tag(:magnet_link, options_for_select(languages)) %>
			<%= submit_tag("Voir le film") %>
		<% end %>
	<% else %>
		<%= form_tag("/movie/new", method: "post") do %>
			<%= hidden_field_tag 'imdb', movie['imdb_code'] %>
			<% if movie['torrents'] %>
				<%= hidden_field_tag 'torrent', movie['torrents'][0]['url'] %>
				<%= submit_tag("Voir le film") %>
			<% end %>
		<% end %>
	<% end %>
	<br>
	<div class="modal fade" id="<%= myModal %>" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= movie['title'] %></h4>
        </div>
        <div class="modal-body">
          <p><img src="<%= movie['medium_cover_image'] %>" class="img-thumbnail"></p>
          <p><strong>Year : </strong><%= movie['year'].to_s %></p>
          <p><strong>Note : </strong><%= movie['rating'].to_s %></p>
          <% if movie['runtime'] %>
          	<% runtime = Time.at(movie['runtime'] * 60).utc.strftime("%-lh%M") %>
          	<p><strong>Duration : </strong><%= runtime.to_s %></p>
          <% end %>
          <% if movie['torrents'] && movie['torrents'][1] %>
	          <% torrents = movie['torrents'][1] %>
	          <p><strong style="color: green;">Seeds : </strong><%= torrents['seeds'].to_s %></p>
	          <p><strong style="color: red;">Peers : </strong><%= torrents['peers'].to_s %></p>
	          <p><strong>Size : </strong><%= torrents['size'].to_s %></p>
	      <% else %>
	      	<p><strong style="color: green;">Seeds : </strong><%= movie['seeds'].to_s %></p>
          <% end %>
          <% if movie['genres'] %>
         	 	<p><strong>Genres : </strong><%= movie['genres'].to_sentence %></p>
          <% end %>
          <p><strong>Description : </strong><%= movie['description_full'] %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>
    <% $increment += 1 %>
</div>
  
<!-- 250 / 400 -->