<% if current_user %>
	<% query = params[:term] %><br>
	<% if query != nil %>
		<%= !query.empty? %>
		<% response = HTTParty.get('https://yts.ag/api/v2/list_movies.json?query_term=' + query + '&sort_by=title&order_by=asc') %>
		<% json = response.body %>
		<% result = JSON.parse(json) %>
		<% if result['status'] == 'ok' %>
			<% if result['status_message'] == 'Query was successful' %>
				<% result['data'].each do |data| %>
					<% if data[0] == 'movie_count' && data[1] == 0 %>

							<strong>No results</strong>

					<% end %>
					<% if  data[0] == 'movies' %>
						<% data[1].each do |movie| %>
							<!-- <%= movie %> -->
							<p><img src="<%= movie['medium_cover_image'] %>" width="250" height="400"></p>
							<strong>id yts : </strong><p><%=  movie['id'] %></p>
							<strong>Titre : </strong><p><%= movie['title'] %></p>
							<strong>Année : </strong><p><%= movie['year'] %></p>
							<% genre = movie['genres'].to_s %>
							<% genre = genre.gsub('[', '') %>
							<% genre = genre.gsub(']', '') %>
							<% genre = genre.gsub('"', '') %>
							<strong>Genre : </strong><p><%= genre %></p>
							<strong>Sinopsys : </strong><p><%= movie['description_full'] %></p>
							<strong>Notes : </strong><p><%= movie['rating'] %></p>
							<strong>Langue: </strong><p><%= movie['language'] %></p>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		<% else %>
			<% if @result['status'] == 'ok' && @result['status_message'] == 'Query was successful' %>
				<% @result['data'].each do |data| %>
					<% if data[0] == 'movie_count' && data[1] == 0 %>
							<<%= submit_tag "Save changes", :id => "submit", :name => "submit", :class => "form_submit", :disabled => false, :disable_with => "Please wait..." %>rong>No results</strong>
					<% end %>

					<% i = 0 %>

					<% if  data[0] == 'movies' %>
						<%= 'CURRENT PAGE : ' + @current_page %>

						<div class="container">
							<div class="row" id="content">
								<%= render partial: 'movie', collection: @movies %>
							</div>
						</div>
						
						<input type="" id="current_page" value="<%= @current_page %>">
						<input type="" id="total_pages" value="<%= @total_pages %>">

						<% unless @current_page.to_i >= @total_pages %>
							<p id="view-more">
								<%= link_to('View More', url_for(page: @current_page.to_i + 1), class: 'btn btn-primary', remote: true) %>
							</p>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
	<% end %>
<% else %>

REDIRECT TO LOGIN

<% end %>

