<video class="mejs-player" id="video" width="800" height="500">
<source src="/videos/<%= @video.id %>/playlist.m3u8" type="application/x-mpegURL">
  <% @translates.each do |translate| %>
    <track src="/videos/<%= @video.id %>/<%= translate.path %>" kind="subtitles" srclang="<%= translate.label %>" label="<%= translate.label %>">
  <% end %>
</video>
<table>
<% @torrent.each do |key, value| %>
<tr>
	<td><%= key %>:</td>
	<td><pre><%= value %></pre></td>
</tr>
<% end %>
</table>
<script>
  $(document).ready(function () {
    $('#video').mediaelementplayer({
      success: function (media) {
        $(media).closest('.media-wrapper').children('div:first').attr('lang', mejs.i18n.language());
        var renderer = $('#' + media.id + '-rendername');
        media.addEventListener('error', function (e) {
          renderer.find('.error').html('<strong>Error</strong>: ' + e.message);
        }, false);
      }
    });
  });
</script>